<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your HappyPlant plans</title>
</head>
<body>

<form action="/logoutFromFinishedPlans" method="get">
    <button type="submit" name="logout_button" id="logout_button">Logout</button>
</form>

<table>
    <thead>
    <tr>
        <th> Plant </th>
        <th> Date </th>
        <th> Nitrogen result</th>
        <th> Phosphorus result</th>
        <th> Kalium result</th>
        <th> Magnesium result</th>
        <th> Calcium result</th>
    </tr>
    </thead>
    <tbody th:switch="${session.plans.isEmpty()}">
    <tr th:case="true">
        <td>No plans yet.</td>
    </tr>
    <tr th:case="false" th:each="plan : ${session.plans}">
        <td><span th:text="${plan.plantType.getPlantName()}"> </span></td>
        <td><span th:text="${plan.planDate}">  </span></td>
        <td><span th:text="${plan.nitrogenResult}">  </span></td>
        <td><span th:text="${plan.phosphorusResult}">  </span></td>
        <td><span th:text="${plan.kaliumResult}">  </span></td>
        <td><span th:text="${plan.magnesiumResult}">  </span></td>
        <td><span th:text="${plan.calciumResult}">  </span></td>
    </tr>
    </tbody>
</table>

<form action="/backToIndexFromFinishedPlans" method="get">
    <button type="submit" name="back_button" id="back_button">Back to index</button>
</form>

</body>
</html>