<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your HappyPlant plans</title>
</head>
<body>

<form action="/logoutFromFinishedPlans" method="get">
    <button type="submit" name="logout_button" id="logout_button">Logout</button>
</form>

<table>
    <thead>
    <tr>
        <th> Date </th>
        <th> Plant </th>
    </tr>
    </thead>
    <tbody th:switch="${session.plans.isEmpty()}" th:each="entry : ${session.plans}">
    <tr th:case="true">
        <td>No plans yet.</td>
    </tr>
    <tr th:case="false" >
        <td><form action="/getSpecificPlan" method="post">
            <button type="submit" name="id" id="plan_button" th:value = "${entry.id}">Inspect plan</button>
            </form></td>
        <td><span th:text="${entry.planDate}">  </span></td>
        <td><span th:text="${entry.plantType.getPlantName()}"> </span></td>
    </tr>
    </tbody>
</table>

<form action="/backToIndexFromFinishedPlans" method="get">
    <button type="submit" name="back_button" id="back_button">Back to index</button>
</form>

</body>
</html>