<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manure Type</title>
</head>
<body>
Want base manure?

<form action="/monoManure" method="get">
    <button type="submit" name="mono_button" id="mono_button">I want to use only mono manures</button>
</form>

<form action="/complexManure" method="get">
    <button type="submit" name="complex_button" id="complex_button">I want to use complex manures</button>
</form>

<form action="/noBaseManure" method="get">
    <button type="submit" name="no_base_button" id="no_base_button">I don't want to use any base manures</button>
</form>

</body>
</html>