<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HappyPlant Result</title>
</head>
<body>

<form action="/logoutFromPlan" method="get">
    <button type="submit" name="logout_button" id="logout_button">Logout</button>
</form>


<table>
    <thead>
    <tr>
        <th> Plant </th>
        <th> Date </th>
        <th> Nitrogen result</th>
        <th> Phosphorus result</th>
        <th> Kalium result</th>
        <th> Magnesium result</th>
        <th> Calcium result</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:text="${session.plan.plantType.getPlantName()}"> </span></td>
        <td><span th:text="${session.plan.planDate}">  </span></td>
        <td><span th:text="${session.plan.nitrogenResult}">  </span></td>
        <td><span th:text="${session.plan.phosphorusResult}">  </span></td>
        <td><span th:text="${session.plan.kaliumResult}">  </span></td>
        <td><span th:text="${session.plan.magnesiumResult}">  </span></td>
        <td><span th:text="${session.plan.calciumResult}">  </span></td>
    </tr>
    </tbody>
</table>
<br>
<table>
    <thead>
    <tr>
        <th> </th>
        <th> Fertilizer </th>
        <th> Dealer </th>
        <th> Per Hectar </th>
        <th> Total </th>
    </tr>
    </thead>
    <tbody th:each="fertilizer,iterStat : ${session.plan.fertilizerList.size()}" >
        <td><form action="/getSpecificFertilizer" method="post">
            <button type="submit" name="id" id="fertilizer_button" th:value = "${session.plan.fertilizerList[iterStat.index].id}">Inspect product</button>
            </form></td>
        <td><span th:text="${session.plan.fertilizerList[iterStat.index].name}"></span></td>
        <td><span th:text="${session.plan.fertilizerList[iterStat.index].dealer}"></span></td>
        <td><span th:text="${session.plan.fertilizerAmount[iterStat.index][0]}"></span> - <span th:text="${session.plan.fertilizerAmount[iterStat.index][1]}" ></span> kilograms</td>
        <td><span th:text="${session.plan.fertilizerAmountPerHectar[iterStat.index][0]}"></span> - <span th:text="${session.plan.fertilizerAmountPerHectar[iterStat.index][1]}" ></span> tons</td>
    </tbody>

</table>

<span th:if = "${session.viewMode == false}">
    <form action="/savePlan" method="post">
        <button type="submit" name="save_button" id="save_button">Save plan</button>
    </form>
</span>

<form action="/getFinishedPlansFromPlan" method="get">
    <button type="submit" name="plans_button" id="plans_button">My Plans</button>
</form>

<form action="/backToIndexFromPlan" method="get">
    <button type="submit" name="back_button" id="back_button">Back to index</button>
</form>


</body>
</html>