<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HappyPlant Result</title>
</head>
<body>

<form action="/logoutFromPlan" method="get">
    <button type="submit" name="logout_button" id="logout_button">Logout</button>
</form>


<table>
    <thead>
    <tr>
        <th th:attr = "plan = ${happyplant.model.PlanModel}"> <span th:text="${happyplant.model.PlanModel.plantType}"></span></th>
        <th th:attr = "plan = ${happyplant.model.PlanModel}"> <span th:text="${happyplant.model.PlanModel.planDate}"></span></th>
        <th th:attr = "plan = ${happyplant.model.PlanModel}"> <span th:text="${happyplant.model.PlanModel.nitrogenResult}"></span></th>
        <th th:attr = "plan = ${happyplant.model.PlanModel}"> <span th:text="${happyplant.model.PlanModel.phosphorusResult}"></span></th>
        <th th:attr = "plan = ${happyplant.model.PlanModel}"> <span th:text="${happyplant.model.PlanModel.kaliumResult}"></span></th>
        <th th:attr = "plan = ${happyplant.model.PlanModel}"> <span th:text="${happyplant.model.PlanModel.magnesiumResult}"></span></th>
        <th th:attr = "plan = ${happyplant.model.PlanModel}"> <span th:text="${happyplant.model.PlanModel.calciumResult}"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${session.plans.size() == 0}">
        <td><h2>No plans available</h2></td>
    </tr>
    <tr>
        <td><span th:text="${session.plan.plantType}"> </span></td>
        <td><span th:text="${session.plan.planDate}">  </span></td>
        <td><span th:text="${session.plan.nitrogenResult}">  </span></td>
        <td><span th:text="${session.plan.phosphorusResult}">  </span></td>
        <td><span th:text="${session.plan.kaliumResult}">  </span></td>
        <td><span th:text="${session.plan.magnesiumResult}">  </span></td>
        <td><span th:text="${session.plan.calciumResult}">  </span></td>
    </tr>
    </tbody>
</table>

<form action="/getFinishedPlansFromPlan" method="get">
    <button type="submit" name="plans_button" id="plans_button">My Plans</button>
</form>

<form action="/backToIndexFromPlan" method="get">
    <button type="submit" name="back_button" id="back_button">Back to index</button>
</form>


</body>
</html>