<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HappyPlant Login</title>
</head>
<body>
    <form action="/registration" method="post">
        <input type="text" placeholder="Username" name="user_name">
        <input type="text" placeholder="First name" name="first_name">
        <input type="text" placeholder="Last name" name="last_name">
        <input type="password" placeholder="Password" name="password">
        <input type="password" placeholder="Enter your password again:" name="password_check">
        <input type="email" placeholder="Email" name="email">
        <input type="email" placeholder="Backup email" name="backup_email">
        <button type="submit" name="user_reg" id="user_reg">Register</button>
    </form>

    <form action="/login" method="post">
        <input type="email" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password">
        <button type="submit" name="user_login" id="user_login">Login</button>
    </form>

</body>
</html>